@import '../../styles/variables';

.tag-category {
  border-radius: 12px;
  height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-draft {
  background: #f4f6fd !important;
  border: none !important;
  color: $text-color;
  &:hover,
  &:focus {
    color: $text-color;
  }
}
