@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-nav-wrap {
  .ant-tabs-nav-list {
    @apply w-full;
    border-radius: 15px !important;
    background: #f3f3f3 !important;
    padding: 3px;
    border-bottom: 0px;
    .ant-tabs-tab {
      width: 100%;
      justify-content: center;
      border: none;
      border-radius: 15px !important;
      background: transparent;
    }
    .ant-tabs-tab-active {
      @extend .ant-tabs-tab;
      background: #fff;
      .ant-tabs-tab-btn {
        text-align: center;
      }
    }
  }
}
