@import '../../styles/variables.scss';

.submit-content-btn {
  display: flex;
  align-items: center;
  border-color: $primary-color !important;
  .ant-space {
    .ant-space-item {
      display: flex;
      color: $primary-color;
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
.add-coin-btn {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  background: #f3f3f3 !important;
  border: none !important;
  .ant-space {
    .ant-space-item {
      display: flex;
      color: $primary-color;
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
